<link rel="stylesheet" href="/css/toastify.css">
<script src="/js/toastify.js"></script>
<script src="/js/reset.password.js"></script>

<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="card p-4 shadow" style="min-width:350px;max-width:400px;width:100%;">
    <h2 class="mb-4 text-center">Restablecer contrase침a</h2>
    <form id="resetForm" action="/api/users/reset-password/{{token}}" method="POST">
      <div class="mb-3">
        <label for="password" class="form-label">Nueva contrase침a</label>
        <input type="password" id="password" name="password" class="form-control" required placeholder="Nueva contrase침a" />
      </div>
      <button type="submit" class="btn btn-success w-100">Restablecer</button>
    </form>
    <a class="d-block text-center mt-3" href="/login">Volver al inicio de sesi칩n</a>
  </div>
</div>