<header class="header">
    <nav class="nav">
        <div class="container">
            <div class="nav-content">
                <a href="" class="nav-logo">
                    <h1>Ecommerce</h1>
                </a>
                <ul class="nav-menu">
                    <li><a href="/login" class="nav-link">Login</a></li>
                    <li><a href="/register" class="nav-link">Registro</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header> 